@charset "ISO-8859-1";

.full_form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}



#architectForm1 {
  margin-top: 90px;
}

input {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  float: right;
}

label {
  color: #28467f;
}

.logbtn {
  margin-top: 40px;
  margin-right: 200px;
  padding: 7px 75px;
}

.form {
  background-color: #96aaec;
  font-size: 25px;
  padding: 50px;
  border-radius: 13px;
  position: relative;
  top: 10px;
  display: block;
}

.logbtn {
	margin-top: 10px;
    margin-left: 57%;
    color: #cee1ff;
    background-color: #28467f;
    font-size: 20px;
    padding: 10px 190px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
	}



