.personal_info {
  margin-left: 170px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
}
.documentImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2 {
    font-size: 31px;
    /* margin-top: 40px; */
    /* margin-bottom: 20px; */
    font-weight: bold;
}

section form div {
   padding: 0px 0px; 
}
.information {
  left: 140px;
  border: 7px solid #28467f;
  border-radius: 3px;
  width: 400px;
  height: 400px;
}

.modelDesign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

h2 {
  font-size: 30px;
  color: #28467f;
  margin: 5px;
}

.free-img {
  margin: 5px;
  border-radius: 9px;
  width: 400px;
  height: 270px;
}
.brief-info {
  width: 400px;
}
#userAddress {
  width: 400px;
}

submit {
    /* position: fixed; */
    margin-left: 23%;
    width: 54%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}
.edit_btn {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 22px;
	font-weight: bolder;
	border-radius: 10px;
	width: 135px;
	height: 3rem;
	border: none;
	box-shadow: 0px 0px 6px white;
	background-color:#28467f;
	transition: 0.7s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit_btn {
	display: flex;
	justify-content: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bolder;
	width: 12rem;
	height: 5rem;
	border-radius: 1px;
	border: none;
	box-shadow: 0px 0px 20px white;
	/*background-image: linear-gradient(90deg, #dcc12d 0%, #23dddd 100%);*/
	transition: 0.7s;
}

.submit_btn:hover {
	transform: scale(1.03);
}

.edit_btn:hover {
	transform: scale(1.03);
}
